/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.help{
  position: absolute;
  top:0.5em;
  right:0.5em;
}

.imperial{
	color:grey;
}

.rebel{
	color:orange;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.impLogo {
  background-image: url("assets/imperial.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* opacity: 0.5; */
}
.rebLogo {
  background-image: url("assets/rebel.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* opacity: 0.5; */
}



table {
  width: 100%;
}

span.footer{
	position: fixed;
	right:.5em;
	bottom: .5em
}